@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  text-align: center;
}

.content {
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.googleLogin {
  background: white;
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 4px;
  margin-top: 30px;
  align-items: center;
  transition: background 0.5s;
}
input{
  padding: 0.5rem;
  border: none;
  background-color: rgb(197, 197, 197);
  border-radius: 40px;
}
button {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 4px;
  margin-top: 30px;
  align-items: center;
  transition: background 0.5s;
}

.button:hover{
  opacity: 0.9;
}

.googleLogin:hover {
  background: #6a11cb;
  color: white;
}
